
  .Section-container {
    padding: 36px;
    display: grid;
    grid-template-rows: 100px 300px;
  }

  .Section-title {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
  }

  .Section-description {
    font-size: 24px;
    text-align: left;
    color: #FFFFFF;
    width: 50%;
    margin: -48px auto;
  }
